.drafts-page {
    padding: 20px;
  }
  
  .folder {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  
  .folder-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .carousel-container {
    width: 80%; /* Make sure the visible container has a fixed width */
    overflow: hidden; /* Hide overflowing drafts */
  }
  
  .drafts-carousel {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Smooth scroll transition */
  }

 
  
  .draft-card {
    border-radius: 8px;
    padding: 15px;
    margin: 0 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    flex-shrink: 0; 
  }
  
  .arrow-button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin: 0 15px;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  

  .favourites-folder {    
    margin-bottom: 30px;
    border-radius: 8px;
    border: 0.8px solid rgb(221, 216, 216);
    padding: 25px;
  }

  .recent-folder {
    margin-bottom: 30px;
    border-radius: 8px;
    border: 0.8px solid rgb(221, 216, 216);
    padding: 25px;
  }